html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
p,
h1,
h2,
h3,
a,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: inherit;
}

header {
  color: #f2a11c;
  display: flex;
  flex-direction: column;
  height: 101vh;
  justify-content: center;
  overflow: hidden;
  overflow: hidden;
  padding: 1rem 1rem;
  position: relative;
  text-align: center;
  /* hamburger menu styling */
  /* social icons styling */
}

header::before {
  background: url(/assets/image-1-mobile@2x.avif) no-repeat center center;
  background-color: white;
  background-size: cover;
  content: ' ';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}

header h1 {
  font-size: 3.8rem;
  margin-top: 35vh;
}

header nav {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 1rem 1rem;
}

header nav ul li a {
  color: #ffffff;
}

header nav ul li a:hover, header nav ul li a:focus {
  border-bottom: 2px solid #f2a11c;
}

header i.fa-bars,
header input[type='checkbox'] {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: none;
  font-size: 3rem;
  padding: 0 3px;
  position: fixed;
  right: 30px;
  text-shadow: 0px 3px 5px #1f2022;
  top: 20px;
  z-index: 10;
}

header .header-menu-social-icons {
  display: none;
}

header .social-icons {
  bottom: 165px;
  font-size: 2.5rem;
  left: 20px;
  margin: 0 0 0 auto;
  position: relative;
  width: 40px;
}

header .social-icons li {
  display: block;
  margin: 12px 0;
}

header .social-icons a:hover,
header .social-icons a:focus {
  color: white;
}

header .social-icons {
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1rem;
}

header .social-icons a {
  align-items: center;
  color: #f2a11c;
  display: flex;
  justify-content: center;
  margin: 3px 0px;
  padding: 4px;
  transition: all 0.5s ease-in-out;
}

header .social-icons a i {
  font-size: 45px;
}

header .social-icons a:hover {
  color: #ffffff;
  transform: rotateZ(360deg);
}

header .hero__scroll {
  margin-top: auto;
  padding-bottom: 80px;
}

@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

header .hero__scroll .chevron {
  animation: pulse 1s infinite;
  color: #f2a11c;
  display: block;
  margin: 0 auto;
  width: 50px;
}

header .hero__scroll .chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  font-size: 2rem;
  height: 2rem;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 2rem;
}

header .hero__scroll .chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

header .hero__scroll .chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

header .hero__scroll .chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

/* Portrait phone*/
@media screen and (min-width: 375px) {
  header h1 {
    font-size: 17vw;
    margin-top: 36vh !important;
  }
}

/* Portrait tablet & landscape phone */
@media (max-width: 768px) {
  header .social-icons {
    display: none;
  }
  header nav ul li a {
    color: #1f2022;
  }
  header i.fa-bars {
    display: inherit;
  }
  header .header-menu {
    background-color: white;
    color: black;
    display: block;
    height: 100vh;
    left: -33vw;
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
    width: 33vw;
    z-index: 10;
  }
  header .header-menu li,
  header .header-menu-social-icons {
    border-bottom: 2px solid #1f2022;
    display: block;
    margin: 0;
    padding: 20px 0;
  }
  header .header-menu li:last-of-type {
    border-bottom: none;
    font-family: 'Pacifico', cursive;
    padding-top: 42px;
  }
  header input[type='checkbox']:checked + .header-menu {
    left: 0;
  }
  header .header-menu li:focus-within a,
  header .header-menu a:hover,
  header .header-menu a:active {
    border-bottom: none;
    color: #f2a11c;
  }
}

@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 16vw !important;
    margin-top: 35vh !important;
  }
  header .social-icons a i {
    font-size: 40px !important;
  }
}

@media screen and (min-width: 1200px) {
  header::before {
    background: url(/assets/image-1.avif) no-repeat center center;
    background-size: cover;
  }
  header h1 {
    font-size: 11vw !important;
    margin-top: 36vh !important;
  }
  header .hero__scroll .chevron::before {
    font-size: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  header .nav {
    display: block;
  }
  header .social-icons {
    bottom: 50vh !important;
    right: 3rem !important;
    transform: translateY(50%);
  }
}

.about {
  background-color: #f4f4f4;
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.about-text {
  text-align: center;
  padding: 3rem 1rem;
}

.about-text h1 {
  margin-bottom: 2rem;
}

.about-img {
  width: 100%;
  height: 60vw;
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/image-2.avif");
}

@media screen and (min-width: 1024px) {
  .about {
    flex-direction: row;
  }
  .about-text {
    width: 50%;
    max-width: 600px;
    padding: 3rem 4rem;
    margin-left: auto;
    text-align: left;
  }
  .about-img {
    width: 50%;
    height: 40vw;
  }
}

@media screen and (min-width: 1600px) {
  .about-text {
    padding-right: 80px;
  }
}

.mission {
  background-color: #f4f4f4;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.mission-text {
  text-align: center;
  padding: 3rem 1rem;
}

.mission-text h1 {
  margin-bottom: 2rem;
}

.mission-img {
  width: 100%;
  height: 60vw;
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/image-7.avif");
}

@media screen and (min-width: 1024px) {
  .mission {
    flex-direction: row;
  }
  .mission-text {
    width: 50%;
    max-width: 600px;
    padding: 3rem 4rem;
    margin-right: auto;
    text-align: left;
  }
  .mission-img {
    width: 50%;
    height: 40vw;
  }
}

@media screen and (min-width: 1600px) {
  .mission {
    flex-direction: row;
  }
  .mission-text {
    padding-left: 80px;
  }
  .mission-img {
    width: 50%;
    height: 40vw;
  }
}

.alissa {
  padding: 50px 0;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.alissa-text {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
}

.alissa-text h1 {
  margin-bottom: 2rem;
}

.alissa-text p {
  text-align: left;
}

.alissa-img {
  float: left;
}

.alissa-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .alissa {
    flex-direction: row;
  }
  .alissa-text {
    width: calc(((100% - 40px) / 3) * 2);
    padding: 3rem 0;
    margin-left: 30px;
    text-align: left;
    align-items: flex-start;
  }
  .alissa-img {
    width: calc((100% - 40px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .alissa {
    padding: 100px 0;
  }
}

.links {
  width: 100%;
  height: 100%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-position: center right;
  background-size: cover;
  background-image: url("/assets/image-5.avif");
}

.links i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.links div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vw;
}

.links h2 {
  color: #f2a11c;
}

/* Portrait tablet & landscape phone */
@media screen and (min-width: 768px) {
  .links {
    flex-direction: row;
    height: 40vh;
  }
}

.the-gram {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.the-gram-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.the-gram-images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  margin: 2rem auto 3rem;
}

.the-gram-images .the-gram-image {
  margin: 20px;
}

.the-gram-images .the-gram-image img {
  width: 75vw;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .the-gram-images {
    flex-direction: row;
  }
}

footer {
  /* form styling */
}

footer nav {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
}

footer nav ul {
  display: flex;
  justify-content: center;
}

footer nav ul li {
  margin: 1rem 1rem;
}

footer .contact {
  display: flex;
  width: 100%;
  margin: auto;
  text-align: center;
  flex-direction: column;
}

footer .contact h2 {
  margin-bottom: 1rem;
  color: #f2a11c;
}

footer .contact-text {
  margin: 1rem auto;
}

footer .contact .subscribe-container {
  width: 100%;
  max-width: 550px;
  margin: 1rem auto 2rem;
  text-align: center;
}

footer .copyright {
  background-color: #000000;
}

footer .copyright p {
  padding: 10px;
  color: #4a4a4a;
  font-size: 1.5rem;
  text-align: center;
}

footer .email {
  display: flex;
  flex-direction: column;
}

footer label {
  font-size: 1rem;
}

footer form input {
  height: 40px;
  margin: 0 auto;
  font-size: 1rem;
}

footer input[type="submit"] {
  width: 90%;
  min-width: 300px;
  padding: 7px 10px;
  border: #f2a11c;
  margin-top: 15px;
  background-color: #f2a11c;
  color: #1f2022;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

footer input[type="email"] {
  width: 90%;
  min-width: 300px;
  padding: 7px 25px;
  border: none;
  margin-top: 15px;
}

footer input[type="email"]::placeholder {
  color: #1f2022;
  opacity: 0.9;
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  footer .contact {
    max-width: 1200px;
    flex-direction: row;
  }
  footer .contact .contact-text {
    text-align: left;
  }
  footer .contact .subscribe-container {
    width: auto;
    text-align: left;
  }
  footer .contact .email-input {
    display: flex;
  }
  footer .contact .email-input input[type="submit"] {
    max-width: 150px;
    min-width: auto;
  }
  footer .contact .email-input input[type="email"]::placeholder {
    text-align: left;
  }
}

body {
  height: 100vh;
  background: #ffffff;
  color: #1f2022;
  font-family: "Catamaran", sans-serif;
  font-size: 20px;
  line-height: 29px;
}

section {
  background-color: #ffffff;
}

main .read-more {
  display: inline-block;
  width: fit-content;
  padding: 10px 25px;
  border: 2px solid #1f2022;
  margin-top: 20px;
  background-color: #1f2022;
  color: #f2a11c;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  justify-content: center;
}

main .read-more:hover {
  border: 2px solid #f2a11c;
}

footer {
  right: 1rem;
  bottom: 0.4rem;
  display: flex;
  width: 100%;
  background-color: #1f2022;
  color: #ffffff;
  text-align: right;
  justify-content: center;
  flex-direction: column;
}
/*# sourceMappingURL=style.css.map */