.about {
  background-color: $lightGrey;
  flex-direction: column-reverse;

  @include section-styling;

  &-text {
    @include text-styling;
  }

  &-img {
    @include image-styling('/Bikerland/assets/image-2.avif');
  }
}

// 1024px tablet and up
@include media-lg {
  .about {
    flex-direction: row;

    &-text {
      width: 50%;
      max-width: 600px;
      padding: 3rem 4rem;
      margin-left: auto;
      text-align: left;
    }

    &-img {
      width: 50%;
      height: 40vw;
    }
  }
}

@include media-xxl {
  .about {
    &-text {
      padding-right: 80px;
    }
  }
}
