.links {
  width: 100%;
  height: 100%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  background-position: center right;
  background-size: cover;
  background-image: url('/Bikerland/assets/image-5.avif');

  i {
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vw;
  }

  h2 {
    color: $squash;
  }
}

/* Portrait tablet & landscape phone */
@include media-md {
  .links {
    flex-direction: row;
    height: 40vh;
  }
}
