.mission {
  background-color: $lightGrey;
  flex-direction: column;

  @include section-styling;

  &-text {
    @include text-styling;
  }

  &-img {
    @include image-styling('/assets/image-7.webp');
  }
}

@include media-lg {
  .mission {
    flex-direction: row;

    &-text {
      width: 50%;
      max-width: 600px;
      padding: 3rem 4rem;
      margin-right: auto;
      text-align: left;
    }

    &-img {
      width: 50%;
      height: 40vw;
    }
  }
}

@include media-xxl {
  .mission {
    flex-direction: row;

    &-text {
      padding-left: 80px;
    }

    &-img {
      width: 50%;
      height: 40vw;
    }
  }
}
