header {
  color: $squash;
  // background-position: center;
  // background-size: cover;
  // background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 101vh;
  justify-content: center;
  overflow: hidden;
  overflow: hidden;
  padding: 1rem 1rem;
  position: relative;
  text-align: center;

  &::before {
    background: url(https://maclapinski.github.io/Bikerland/assets/image-1-mobile@2x.avif)
      no-repeat center center;
    background-color: white;
    background-size: cover;
    content: ' ';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
  h1 {
    font-size: 3.8rem;
    margin-top: 35vh;
  }
  nav {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    ul {
      display: flex;
      justify-content: center;
      li {
        margin: 1rem 1rem;

        a {
          color: $white;

          &:hover,
          &:focus {
            border-bottom: 2px solid $squash;
          }
        }
      }
    }
  }

  /* hamburger menu styling */
  i.fa-bars,
  input[type='checkbox'] {
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 3rem;
    padding: 0 3px;
    position: fixed;
    right: 30px;
    text-shadow: 0px 3px 5px #1f2022;
    top: 20px;
    z-index: 10;
  }

  .header-menu-social-icons {
    display: none;
  }

  /* social icons styling */
  .social-icons {
    bottom: 165px;
    font-size: 2.5rem;
    left: 20px;
    margin: 0 0 0 auto;
    position: relative;
    width: 40px;
  }

  .social-icons li {
    display: block;
    margin: 12px 0;
  }

  .social-icons a:hover,
  .social-icons a:focus {
    color: white;
  }

  .social-icons {
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;

    a {
      align-items: center;
      color: $squash;
      display: flex;
      justify-content: center;
      margin: 3px 0px;
      padding: 4px;

      @include transition-ease;

      i {
        font-size: 45px;
        // font-size: xx-large;
      }

      &:hover {
        color: $white;
        transform: rotateZ(360deg);
      }
    }
  }

  .hero__scroll {
    margin-top: auto;
    padding-bottom: 80px;

    @-webkit-keyframes pulse {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
      }
      100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }

    @keyframes pulse {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
      }
      100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }

    .chevron {
      -webkit-animation: pulse 1s infinite;
      animation: pulse 1s infinite;
      color: $squash;
      display: block;
      margin: 0 auto;
      width: 50px;
    }

    .chevron::before {
      border-style: solid;
      border-width: 0.25em 0.25em 0 0;
      content: '';
      display: inline-block;
      font-size: 2rem;
      height: 2rem;
      position: relative;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      vertical-align: top;
      width: 2rem;
    }

    .chevron.right:before {
      left: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .chevron.bottom:before {
      top: 0;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    .chevron.left:before {
      left: 0.25em;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

/* Portrait phone*/
@include media-xs {
  header {
    h1 {
      font-size: 17vw;
      margin-top: 36vh !important;
    }
  }
}

/* Portrait tablet & landscape phone */
@media (max-width: 768px) {
  header {
    .social-icons {
      display: none;
    }

    nav ul li a {
      color: $darkErGrey;
    }

    i.fa-bars {
      display: inherit;
    }

    .header-menu {
      background-color: white;
      color: black;
      display: block;
      height: 100vh;
      left: -33vw;
      position: fixed;
      top: 0;
      transition: all 0.5s ease;
      width: 33vw;
      z-index: 10;
    }

    .header-menu li,
    .header-menu-social-icons {
      border-bottom: 2px solid #1f2022;
      display: block;
      margin: 0;
      padding: 20px 0;
    }

    .header-menu li:last-of-type {
      border-bottom: none;
      font-family: 'Pacifico', cursive;
      padding-top: 42px;
    }

    input[type='checkbox']:checked + .header-menu {
      left: 0;
    }

    .header-menu li:focus-within a,
    .header-menu a:hover,
    .header-menu a:active {
      border-bottom: none;
      color: #f2a11c;
    }
  }
}

@include media-lg {
  header {
    h1 {
      font-size: 16vw !important;
      margin-top: 35vh !important;
    }
    .social-icons {
      a i {
        font-size: 40px !important;
      }
    }
  }
}

@include media-xl {
  header {
    &::before {
      background: url(https://maclapinski.github.io/Bikerland/assets/image-1.avif)
        no-repeat center center;
      background-size: cover;
    }

    h1 {
      font-size: 11vw !important;
      margin-top: 36vh !important;
    }

    .hero__scroll {
      .chevron::before {
        font-size: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    .nav {
      display: block;
    }

    .social-icons {
      bottom: 50vh !important;
      right: 3rem !important;
      transform: translateY(50%);
    }
  }
}
