header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  height: 101vh;
  width: 100%;
  color: $squash;
  padding: 1rem 1rem;
  background-image: url(/assets/image-1-mobile@2x.jpg);

  h1 {
    font-size: 17vw;
    margin-top: 34vh;
  }

  .nav {
    display: none;
    
    &-menu {
      display: flex;
      justify-content: center;

      &__item {
        padding: 20px 20px;
        list-style: none;
      }
      &__link {
        text-decoration: none;
        color: $white;
        font-size: 1.5rem;
        &:hover {
          border-bottom: 4px solid $squash;
        }
      }
    }
  }

  .social-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 1rem;
    right: 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      margin: 3px 0px;
      color: $squash;
      @include transition-ease;

      i {
        font-size: 45px;
        // font-size: xx-large;
      }

      &:hover {
        color: $white;
        transform: rotateZ(360deg);
      }
    }
  }

  .hero__scroll {
    margin-top: auto;
    padding-bottom: 25px;
    .chevron {
      display: block;
      color: $squash;
      -webkit-animation: pulse 1s infinite;
      animation: pulse 1s infinite;
    }
    @-webkit-keyframes pulse {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
      }
      100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }

    @keyframes pulse {
      0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
      }
      100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }

    .chevron::before {
      border-style: solid;
      border-width: 0.25em 0.25em 0 0;
      content: "";
      display: inline-block;
      height: 7vh;
      width: 7vh;
      font-size: 6vh;
      position: relative;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      vertical-align: top;
      
    }

    .chevron.right:before {
      left: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .chevron.bottom:before {
      top: 0;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    .chevron.left:before {
      left: 0.25em;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}
